.img-section {
  max-width: 100vw;
  .product-img-container {
    width: 100%;
    height: 100%;
    padding: 8rem;

    .product-img {
      object-fit: cover;
    }
  }
}

.txt-section {
   display: flex;
   flex-direction: column !important;

}
